body {
    width: 100vw;
    height: 100vh;
    background-image: url("../image/background.png");
    overflow: hidden;
}

.all {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    font-family: sans-serif;
    color: orange;
    font-size: 70px;
    text-align: justify;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 170%;
    perspective: 500px;

}

.text {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: text 30s linear;
    animation-iteration-count: infinite;
}

.title {
    font-size: 90%;
    text-align: center;
}

.title-item {
    margin: 0 0 300px;
}


@keyframes text {
    0% {
        top: 800px;
        transform: rotateX(10deg)  translateZ(0);
    }
    100% {
        top: -5000px;
        transform: rotateX(25deg) translateZ(-1800px);
    }
}
